h1, h2 {
	margin-top: 0;
}

body {
	margin-top: 32px;
	font-size: 12px;
	font-family: 'Roboto Mono', monospace;
	background: #eceff4;
	color: #2e3440;
}

a {
	color: #81a1c1;
	text-decoration: none;
}
a:active {
	color: #5e81ac;
}
a:visited {
	color: #b48ead;
}
a:hover {
	text-decoration: underline;
}
h1 {
	background: #81a1c1;
	margin: 0;
	padding: 16px;
	color: #eceff4;
	text-align: center;
}
h1 a, h1 a:visited, h1 a:active, h1 a:hover {
	color: #eceff4;	
}